FrontendSD/src/META-INF/wsdl/server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.sd.ufmt.br/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.sd.ufmt.br/" name="Server">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://server.sd.ufmt.br/" schemaLocation="http://192.168.1.190:8080/ServerSD/Server?xsd=1" />
		</xsd:schema>
	</types>
	<message name="getListaClienteD">
		<part name="parameters" element="tns:getListaClienteD" />
	</message>
	<message name="getListaClienteDResponse">
		<part name="parameters" element="tns:getListaClienteDResponse" />
	</message>
	<message name="buscaArquivo">
		<part name="parameters" element="tns:buscaArquivo" />
	</message>
	<message name="buscaArquivoResponse">
		<part name="parameters" element="tns:buscaArquivoResponse" />
	</message>
	<message name="publicaArquivo">
		<part name="parameters" element="tns:publicaArquivo" />
	</message>
	<message name="publicaArquivoResponse">
		<part name="parameters" element="tns:publicaArquivoResponse" />
	</message>
	<message name="removeArquivo">
		<part name="parameters" element="tns:removeArquivo" />
	</message>
	<message name="removeArquivoResponse">
		<part name="parameters" element="tns:removeArquivoResponse" />
	</message>
	<portType name="Server">
		<operation name="getListaClienteD">
			<input wsam:Action="http://server.sd.ufmt.br/Server/getListaClienteDRequest" message="tns:getListaClienteD" />
			<output wsam:Action="http://server.sd.ufmt.br/Server/getListaClienteDResponse" message="tns:getListaClienteDResponse" />
		</operation>
		<operation name="buscaArquivo">
			<input wsam:Action="http://server.sd.ufmt.br/Server/buscaArquivoRequest" message="tns:buscaArquivo" />
			<output wsam:Action="http://server.sd.ufmt.br/Server/buscaArquivoResponse" message="tns:buscaArquivoResponse" />
		</operation>
		<operation name="publicaArquivo">
			<input wsam:Action="http://server.sd.ufmt.br/Server/publicaArquivoRequest" message="tns:publicaArquivo" />
			<output wsam:Action="http://server.sd.ufmt.br/Server/publicaArquivoResponse" message="tns:publicaArquivoResponse" />
		</operation>
		<operation name="removeArquivo">
			<input wsam:Action="http://server.sd.ufmt.br/Server/removeArquivoRequest" message="tns:removeArquivo" />
			<output wsam:Action="http://server.sd.ufmt.br/Server/removeArquivoResponse" message="tns:removeArquivoResponse" />
		</operation>
	</portType>
	<binding name="ServerPortBinding" type="tns:Server">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="getListaClienteD">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="buscaArquivo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="publicaArquivo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="removeArquivo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="Server">
		<port name="ServerPort" binding="tns:ServerPortBinding">
			<soap:address location="http://192.168.1.190:8080/Server/Server" />
		</port>
	</service>
</definitions>